<div class="row">
  <div class="col-md-2">
    <%= label_tag "Text Field:" %>
  </div>
  <div class="col-md-10">
    <%= f.hidden_field :type %>
    <%= f.text_field :name, placeholder: 'Field Name' %>
    <%= f.hidden_field :_destroy %>
    <%= link_to '#', class: 'remove_fields btn btn-danger btn-xs' do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</div>