<%= simple_form_for [:dashboard, @post_type] do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :excluded_from_primary_feed %>

  <div class="custom-field-inputs">
    <%= f.fields_for :custom_fields do |builder| %>
      <%= render "custom_#{builder.object.type.to_s.split("::").last.gsub("Field", "").underscore}_field_fields", f: builder %>
    <% end %>
  </div>

  <div class="form-group">
    <%= link_to_add_custom_field "Add Custom Text Field", f, Storytime::CustomFields::TextField %>&nbsp;&nbsp;&middot;&nbsp;
    <%= link_to_add_custom_field "Add Custom Dropdown Field", f, Storytime::CustomFields::SelectField %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>